@font-face {
    font-family: 'Uncut Sans Bold';
    src: url('/src/assets/fonts/UncutSans-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Uncut Sans Book';
    src: url('/src/assets/fonts/UncutSans-Book.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'General Sans Bold';
    src: url('/src/assets/fonts/GeneralSans-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

.hero {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-start;
    /* height: 100vh; */
    /* padding: 0 40px; */
    
    text-align: left;
    /* margin-top: 200px;
    margin-left: 110px; */
    position: relative;
    top: 215px;
    margin-left: 110px;
    overflow: hidden;
    height: 70vh;
}

.hero-title {
    font-family: "General Sans Bold";
    font-size: 95.91px;
    font-weight: bold;
    margin: 0;
    width: 600px;
    height: 242px;
    color: #CCC5B9;
}

.hero-description {
    display: flex;
    font-family: "Uncut Sans Book";
    font-size: 23.99px;
    margin-top: 20px;
    margin-bottom: 0px;
    width: 583px;
    height: 87px;
    color: #EDE6CF;
    flex-wrap: wrap;
}


/* Media query for very small screens */
@media (max-width: 425px) {
    .hero {
        top: 50px;
        /* left: 10px; */
        align-items:flex-start;
        margin-left: 20px;
    }

    .hero-title {
        font-size: 50px; /* Further reduce font size */
        /* align-items:flex-start; */
        text-align: left;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
    }

    .hero-description {
        font-size: 16px;
        align-items:flex-start;
        width: 100%;
    }
}




@media (max-width: 600px) and (min-width: 425px) {
    .hero {
        top: 50px;
        /* left: 10px; */
        align-items:flex-start;
        margin-left: 20px;
    }

    .hero-title {
        font-size: 50px; /* Further reduce font size */
        /* align-items:flex-start; */
        text-align: left;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
    }

    .hero-description {
        font-size: 16px;
        align-items:flex-start;
        width: 100%;
    }
}



