/* Default styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: transparent;
    color: #EDE6CF;
    font-family: 'Uncut Sans Regular';
    font-weight: 100;
    font-size: 23.99px;
    line-height: normal;
    letter-spacing: 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    margin-left: 0; /* Remove margin for better alignment */
}

.nav-links {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 71px;
}

.nav-links a {
    text-decoration: none;
}

.orangetext {
    color: #BE5F3B;
}

.whitetext {
    color: #EDE6CF;
}

.orangetext::after, .whitetext::after {
    content: '';
    height: 1px;
    width: 100%;
    display: block;
    opacity: 0;
    transition: all 0.3s;
}

.orangetext::after {
    background-color: #BE5F3B;
}

.whitetext::after {
    background-color: #EDE6CF;
}

.orangetext:hover::after,
.whitetext:hover::after {
    opacity: 1;
}

/* Hamburger Menu Styles */
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    cursor: pointer;
}

.hamburger div {
    background-color: #EDE6CF;
    height: 3px;
    width: 100%;
    transition: all 0.3s ease;
}

/* Hide the nav-links by default on small screens */
.nav-links-mobile {
    display: none;
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    padding: 20px 0;
}

.nav-links-mobile a {
    padding: 15px;
    text-align: center;
    color: white;
    text-decoration: none;
}

/* Media Query for Small Screens */
@media (max-width: 600px) {
    .navbar {
        padding: 10px 20px; /* Reduce padding for smaller screens */
    }

    .nav-links {
        display: none;
    }

    .logo {
        margin-left: 10px; /* Reduce margin for better alignment */
    }

    .hamburger {
        display: flex;
        margin-right: 10px; /* Align hamburger to the right */
    }

    .nav-links-mobile.active {
        display: flex;
    }
}
