/* Default styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: transparent;
    color: #EDE6CF;
    font-family: 'Uncut Sans Regular';
    font-weight: 100;
    font-size: 23.99px;
    line-height: normal;
    letter-spacing: 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    margin-left: 0;
}

.nav-links {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 71px;
}

.nav-links a {
    text-decoration: none;
    cursor: pointer;
}

.orangetext {
    color: #BE5F3B;
}

.whitetext {
    color: #EDE6CF;
}

/* Underline animation for large screens */
@media (min-width: 601px) {
    .orangetext::after, .whitetext::after {
        content: '';
        height: 1px;
        width: 100%;
        display: block;
        opacity: 0;
        transition: all 0.5s;
    }

    .orangetext::after {
        background-color: #BE5F3B;
    }

    .whitetext::after {
        background-color: #EDE6CF;
    }

    .orangetext:hover::after,
    .whitetext:hover::after {
        opacity: 1;
    }
}

/* Hamburger Menu Styles */
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.hamburger div {
    background-color: #EDE6CF;
    height: 3px;
    width: 100%;
    transition: all 0.3s ease;
}

.hamburger.open div:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.open div:nth-child(2) {
    opacity: 0;
}

.hamburger.open div:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

/* Mobile nav menu with shutter animation */
.nav-links-mobile {
    display: flex;
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 30px;
    right: 0;
    width: 100%;
    height: 0; /* Initial height for shutter effect */
    overflow: hidden;
    transition: height 0.5s ease-in-out; /* Shutter-like transition */
    padding: 0; /* Padding will be added after expanding */
    justify-content: center;
    gap: 20px;
}

.nav-links-mobile a {
    text-align: center;
    color: #BE5F3B;
    text-decoration: none;
    padding: 20px 0;
}

/* Shutter animation when active */
.nav-links-mobile.active {
    height: 200px; /* Height for full menu display */
    padding: 20px 0; /* Add padding when menu is active */
}

/* Media Query for Small Screens */
@media (max-width: 600px) {
    .navbar {
        padding: 10px 20px;
    }

    .nav-links {
        display: none;
    }

    .logo {
        margin-left: 10px;
    }

    .hamburger {
        display: flex;
        margin-right: 10px;
    }

    /* Disable underline animation on small screens */
    .orangetext::after,
    .whitetext::after {
        display: none;
    }
}
