@font-face {
    font-family: 'Uncut Sans Bold';
    src: url('/src/assets/fonts/UncutSans-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Uncut Sans Book';
    src: url('/src/assets/fonts/UncutSans-Book.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'General Sans Bold';
    src: url('/src/assets/fonts/GeneralSans-Bold.otf');
    font-weight: normal;
    font-style: normal;
}


.network {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-start;
    /* height: 100vh; */
    /* padding: 0 40px; */
    
    text-align: left;
    /* margin-top: 200px;
    margin-left: 110px; */
    position: relative;
    left: 110px;
    overflow: hidden;
}

.network-title {
    font-family: "General Sans Bold";
    font-size: 95.91px;
    font-weight: bold;
    margin: 0;
    /* width: 600px; */
    height: 242px;
    color: #CCC5B9;
}