@font-face {
    font-family: 'Uncut Sans Bold';
    src: url('/src/assets/fonts/UncutSans-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Uncut Sans Book';
    src: url('/src/assets/fonts/UncutSans-Book.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'General Sans Bold';
    src: url('/src/assets/fonts/GeneralSans-Bold.otf');
    font-weight: normal;
    font-style: normal;
}


.network {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-start;
    /* height: 100vh; */
    /* padding: 0 40px; */
    
    text-align: left;
    /* margin-top: 200px;
    margin-left: 110px; */
    position: relative;
    left: 110px;
    overflow: hidden;
}

.network-title {
    font-family: "General Sans Bold";
    font-size: 95.91px;
    font-weight: bold;
    margin: 0;
    /* width: 600px; */
    /* height: 242px; */
    color: #CCC5B9;
    margin-left: 0;
}

.tiles{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    padding: 60px;
    justify-content: center;
    max-width: 100%;
}

.card{
    background-color: rgba(255, 255, 255, 0.0);
    border: 1px solid rgba(255, 255, 255, 0.1);
    height: 100%;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
    will-change: transform; /* Optimizes the animation performance */
}

.card:hover::before {
    opacity: 1;
    filter: blur(10px); 
}

.card::before {
    background: radial-gradient(
        800px circle at var(--mouse-x) var(--mouse-y),
        rgba(255, 255, 255, 0.06),
        transparent 40%
    );
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
    z-index: 1;
    transition: opacity 500ms, filter 1000ms;

}


.card-title {
    font-family: 'Uncut Sans Bold';
    font-size: 32px;
    color: #ffffff;
    padding-bottom: 10px;
    text-align: left;
    margin-left: 17px;
}

/* Styling for the card descriptions */
.card-description {
    font-family: 'Uncut Sans Semibold';
    font-size: 22px;
    color: #9E9E9E;
    text-align: left;
    margin-left: 17px;
    margin-bottom: 29px;
    margin-top: 0px;
    padding-bottom: 17px;
}

/* Add subtle hover effect to the cards */
.card:hover .card-title {
    color: #ffffff;
}

.card:hover {
    transform: scale(1.005); /* Scale up the card slightly */
    /* box-shadow: 0 8px 10px rgba(255, 255, 255, 0.2); Adds a shadow effect */
}

.go-to-link-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 20px;
    color: #9E9E9E;
}

.card:hover .go-to-link-icon{
    color: #BE5F3B;
    animation-duration: 1000ms;
}