@font-face {
    font-family: 'Uncut Sans Bold';
    src: url('/src/assets/fonts/UncutSans-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Uncut Sans Book';
    src: url('/src/assets/fonts/UncutSans-Book.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'General Sans Bold';
    src: url('/src/assets/fonts/GeneralSans-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

.page3{
    display: flex;
    flex-direction: column;
    margin-top: 500px;
    /* left: 594px; */
}

.works-title{
    font-family: "General Sans Bold";
    font-size: 95.91px;
    font-weight: bold;
    margin: 0;
    /* width: 558px; */
    height: 105px;
    top: 1970px;
    left: 110px;
    color: #CCC5B9;
    
}
